

//Bootstrap modificat
$font-family-sans-serif: 'Rubik', sans-serif;

$primary: #5265E1;
$secondary: #FA5959;


//CSS del web
.blue-form-right {
	
	position: absolute;
	z-index: -1;
	width:400%;
	height: 75%;
	top:30%;
	left:30%;
}

.blue-form-left {
	
	position: absolute;
	z-index: -1;
	width:400%;
	height: 95%;
	top:25%;
	right:25%;
}


//Bootstrap importat
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//CSS de Bootstrap sobreescrit
.navbar-nav .nav-item .nav-link {

	letter-spacing: .1rem;
	font-size: .65rem;
}

.nav-tabs .nav-item .nav-link.active{
    
	color: $dark;
    border-bottom: .25rem solid $secondary;
}

.nav-tabs .nav-item .nav-link {
	
	color: $gray-600;
    border: none;
	/* border-bottom: 1px solid #dee2e6; */
    
}
